body {
   font-family: 'Open Sans', sans-serif;
	margin: 0pt;
	padding: 0pt;
	color: #fff;
	background-color: #002020;
}

#wrapper{
	width: 900px;
	padding: 40px;
	margin: 0 auto;
}

#header {
   display: inline-block;
}

#header h1{
	color: #7cfc00;
   display: inline-block;
}

#header h2{
	color: #fff;
   display: inline-block;
}

#header p{
	color: #fff;
   font-size: 30px;
   font-weight: bold;
   display: inline-block; 
}


#content{}

#filedisplay{
	display: inline-block;
	width: 100%;
}

.file{
	padding: 0;
	margin: 15px;
	background-color: #0F3737;
}

.icon{
	float: left;
	width: 48px;
	height: 48px;
	margin: 10px;
}
.name{
   font-weight: bold;
	float:left;
	width: 50%;
	margin: 25px 0 0 10px;
   margin-bottom: 0px;
	overflow:hidden;
}
.size{
	width: 70px;
   font-weight: bold;
	float: right;
	margin: 25px 10px;
}

.details{
	float: left;
	width: 100%;
	background-color: #001717;
	height: 140px;
}

.details h3{
	margin: 20px;
}

.details p{
	margin: 20px;
}

.details a{
	text-decoration: none;
   color: #fff;
}

.details a:hover {
	color: #2c2;
}

.clearfix {
	clear:both;
	line-height: 0pt;
}

.menu li {
	display: block;
	float: left;
	font-size: 120%;
	margin: 30px 20px;
}

.menu li a {
	color: #fff;
}

