<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Websync</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="/static/js/knockout-2.3.0.js"></script><style type="text/css"></style>
	<script src="/static/js/pager.js"></script><style type="text/css"></style>
</head>
<body id="main">
<div id="wrapper">

<div id="header">
	<h1>websync</h1> <p>|</p> <h2>Files</h2>
</div>

<div id="content" class="container">
   {% block content %}{% endblock %}
</div>
</div>
</body>
</html>

