<div class="row">
   <h3>VMs</h3>
   
   <div class="col-xs-12">
   {% if vm_list %}
      <table class="table">
         <thead>
            <tr>
               <th>VM Name</th>
               <th>IP</th>
               <th>Status</th>
               <th></th>
               <th>Add node</th>
               
            </tr>
         </thead>
         <tbody>
            {% for server in vm_list %}
            <tr>
               <td>{{ server.name }}</td>
               <td><a class="ip" href="{{ server.ip }}">{{ server.ip }}</a></td>
               <td><span class="status">{{ server.status }}</span></td>
               <td>
                  <a href="/nova/removeInstance/{{ server.id }}" class="btn btn-danger btn-sm">
                     <span class="glyphicon glyphicon-ban-circle"></span>
                     Terminate Instance					
                  </a>
               </td>
               <td>
                  <form action="/nova/addNode/" method="POST" class="form-inline">
                     <div class="form-group">
			<input type="hidden" name="ip" value="{{ server.ip }}"/>
                        <input class="form-control" name="port" size="5" maxsize="5" type="text" placeholder="Port"/>
                     </div>
                     <button type="submit" class="btn btn-success">Spawn Node</button>
                  </form>
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   {% endif %}
   </div>
   <div class="col-xs-12">
      <form action="/nova/addInstance" method="post" class="form-inline">
         <div class="form-group">
            <input class="form-control" name="instanceName" size="25" maxsize="25" type="text" placeholder="Instance Name"/>
         </div>
         <button type="submit" class="btn btn-success">Spawn Instance</button>
      </form>
   </div>   
</div>
<div class="row">
   <h3>Nodes</h3>
   <div class="col-xs-12">   
   {% if node_list %}
      <table class="table">
         <thead>
            <tr>
               <th>Node URL</th>
               <th>Status</th>
               <th>Synchronized</th>
               <th>Self Destruct</th>
               <th>Spawn new node</th>
            </tr>
         </thead>
         <tbody>
            {% for node in node_list %}
            <tr {% if (node.ipaddr == thisURL) %} class="thisNode" {% endif %} >
               <td><a class="ip" href="{{ node.ipaddr }}">{{ node.ipaddr }}</a></td>
               <td><span class="online-{{ node.status }}">{{ node.status }}</span></td>
               <td><span class="synced-{{ node.synced }}">{{ node.synced }}</span></td>
               <td>
                  <a href="{{ node.ipaddr }}selfdestruct" class="btn btn-danger btn-sm">
                     <span class="glyphicon glyphicon-ban-circle"></span>
                     Delete					
                  </a>
               </td>
               <td>
                  <form action="{{ node.ipaddr }}node/createLocal" method="POST" class="form-inline">
                     <div class="form-group">
                        <input class="form-control" name="port" size="5" maxsize="5" type="text" placeholder="Port"/>
                     </div>
                     <button type="submit" class="btn btn-success">Spawn Node</button>
                  </form>
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   {% endif %}
   </div>
   <div class="col-xs-12">
      {% if not node_online %}
         <p>This node is currently Offline</p>
         <p>
            <a href="{{ thisURL }}reconnect" class="btn btn-default btn-sm">
               <span class="glyphicon glyphicon-retweet"></span>
               Retry MasterNode registration
            </a>
         </p>
         <p>
            <a href="{{ thisURL }}selfdestruct" class="btn btn-danger btn-sm">
               <span class="glyphicon glyphicon-ban-circle"></span>
               Tell node to Self Destruct
            </a>
         </p>
      {% endif %}
      <form action="/node/createLocal" method="POST" class="form-inline">
         <div class="form-group">
            <input class="form-control" name="port" size="5" maxsize="5" type="text" placeholder="Port"/>
         </div>
         <button type="submit" class="btn btn-success">Add Local Node</button>
      </form>
   </div>   
</div>
