<table class="table">
	<thead>
		<tr>
			<th>Node URL</th>
			<th>Status</th>
			<th>Synchronized</th>
			<th>asdf</th>
		</tr>
	</thead>
	<tbody>
		{% for node in nodeList %}
		<tr	{% if (node.ipaddr == nodeIP) %} class="thisNode" {% endif %} >
			<td><a class="ip" href="{{ node.ipaddr }}">{{ node.ipaddr }}</a></td>
			<td><span class="online-{{ node.status }}">{{ node.status }}</span></td>
			<td><span class="synced-{{ node.synced }}">{{ node.synced }}</span></td>
			<td>
				<a href="delete/{{node.id}}" class="btn btn-danger btn-sm">
					<span class="glyphicon glyphicon-ban-circle"></span>
					Delete					
				</a>
		</tr>
		{% endfor %}
	</tbody>
</table>
<hr/>
<div class="col-lg-12">
	<form class="form-inline">
		<div class="form-group">
			<input class="form-control" type="text" placeholder="Port"/>
		</div>
		<button type="submit" class="btn btn-success">Add Local Node</button>
	</form>
	<br/>
	<form class="form-inline">
		<button type="submit" class="btn btn-warning">Request Creation of new Node</button>
	</form>
</div>