<div class="row">
   <div id="upload-header" class="col-sm-11">
      <h3><span class="glyphicon glyphicon-upload"></span> Upload File </h3>
   </div>
   <div id="upload-body" class="col-sm-11">
      <div class="col-sm-7">
         <form enctype="multipart/form-data">
            <div class="form-group">
               <input name="file" type="file"/>
               <p class="help-block" id="fileNote" style="color: #aaa;"></p>
               <p class="help-block" id="uploadNote">action: /blob, method: POST</p>
            </div>   
            <div class="form-group">
               <select class="form-control" id="fileSelector">
                  <option value="" selected>Create new file</option>
                  <option value="" disabled>Replace existing:</option>
                  {% for file in files %}
                  <option value="{{file.id}}">{{file.id}}: {{file.filename}}</option>
                  {% endfor %}
               </select>
            </div>
            <div class="form-group">
               <button id="submitFile" filetype="submit" class="btn btn-default btn-lg">
                  <span class="glyphicon glyphicon-chevron-up"></span> Upload
               </button>
            </div>
            <div>
               <progress value="0" max="100"></progress>
            </div>
         </form>
      </div>
      <div class="clearfix visible-xs"></div>
   </div>
</div>
<div id="file-list" class="row">
{% for file in files %}
	<div class="file col-xs-5" id="file-{{file.id}}">
     <a href="{{download_url}}{{file.id}}">
     {% if (file.is_image) %} 
     <img class="icon" src="{{download_url}}{{file.id}}"/>
     {% else %}
	  <img class="icon" src="{{ file.extension }}">
     {% endif %}
     </a>
	  <div class="name">
		  {{ file.filename }}
	  </div>
	  <div class="size">
		  {{ file.size }}
	  </div>
	  <div class="details">
		  <h3><a href="{{download_url}}{{file.id}}">download</a> | <a href="#" id="delete-{{file.id}}">delete</a> | {{file.global_id}}</h3>
		  <p>uploaded: {{ file.created_at }}</p>
		  <p>last sync: {{ file.last_sync }}</p>
	  </div>
	  <div class="clearfix">&nbsp</div>
	</div>
{% endfor %}
</div>

<script type="text/javascript">
   var frm = $("form");
   var targetURL = '/blob/';
   var methodType = 'POST';
   
   function formReset() {
      $("#fileNote").text("No file selected");
      $("#submitFile").hide();
      $("#fileSelector").hide();
      $("#uploadNote").hide();
      $("#upload-body").hide();
      $("progress").hide();
   }
   $(document).ready(function() {
     formReset();
   });
   
   $(':file').change(function(){
   
      var file = this.files[0];
      if (file) {
         name = file.name;
         size = file.size;
         type = file.type;
         $("#fileNote").text('bytes: ' + size + ', type: ' + type);
      if (size > 0)
         $("#submitFile").show();
         $("#fileSelector").show();
         $("#uploadNote").show();
         $("progress").show();
      } else { 
         formReset();
      }
   });
   
   $("#upload-header").click(function() {
      $("#upload-body").toggle();
   });
   
   $("#fileSelector").change(function() {
      val = $("#fileSelector").val()
      hasId = (val != '');
      targetURL = '/blob/';
      methodType = 'POST';
      if (hasId) {
         targetURL += val + '/';
         methodType = 'PUT';
      }
      $("#uploadNote").text('action: ' + targetURL + ', method: ' + methodType);
   });
   
   frm.submit(function(ev) {
      var formData = new FormData($('form')[0]);
      $.ajax({
         url: targetURL,
         type: methodType,
         xhr: function() {
            var myXhr = $.ajaxSettings.xhr();
            if(myXhr.upload){
                // Progress bar handler
                myXhr.upload.addEventListener('progress',progressHandlingFunction, false);
            }
            return myXhr;
        },
         success: function() { location.reload(); },
         data: formData,
         cache: false,
         contentType: false,
         processData: false
      });
      ev.preventDefault();
   });
   
   function progressHandlingFunction(e){
      if(e.lengthComputable){
        $('progress').attr({value:e.loaded,max:e.total});
      }
   }

   
	$("a[id^='delete-']").click(function(event) {
		var deleteId = event.target.id.slice(7);		
		$.ajax({
            url: '{{download_url}}' + deleteId + '/',
            type: 'DELETE',
            success: function(result) {
                 // Do something with the result
                $("#file-" + deleteId).hide();
        }
        });
	});
</script>	